.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: navy;
  color: goldenrod;
  align-items: center;
}

.HomePageButton{
  border-radius: 20%;
  height:50px;
  width:150px;
  background-color: white;
  color:black
}

.GameColumn{
  margin: 5px;
}

.LoginLink{
  color: goldenrod;
}
.ClueWindow{
  height:400px;
  width:600px;
  background-color: blue;
  color:white;
  margin:auto
}

.categoryHeader{
   color: white;
   text-align: center;
   font-size: larger;
   font-weight: bold;
}
.GameLink{
  color: white
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

